
<%- include("header") -%>

        <main class="container">
           

            <div class="bg-light rounded p-5">

                <h1>Contatos cadastrados</h1>

            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="?col=nome">Nome</a></th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th><a href="?col=cidade">Cidade</a></th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                <% dados.forEach(function(item){ %>                        
                    
                    <tr>
                        <td><%= item.nome %></td>
                        <td><%= item.telefone %></td>
                        <td><%= item.email %></td>
                        <td><%= item.cidade %></td>
                        <td>
                            <a href="/editar?id=<%= item._id %>" class="btn btn-success"> 
                                <i class="bi bi-pencil-square"></i> 
                            </a>
                            <a href="#" 
                                class="btn btn-danger" 
                                data-bs-toggle="modal" 
                                data-bs-target="#alerta-deletar" >

                                <i class="bi bi-x-square"></i> 
                            </a>
                        </td>
                    </tr>
                <% }) %>

                   
                </tbody>
            </table>

            <div class="modal" id="alerta-deletar">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Confirme
                        </div>

                        <div class="modal-body">
                            Você deseja realmente deletar o contato?
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary">Cancelar</button>
                            <button class="btn btn-danger" >Confirmar</button>
                        </div>

                    </div>

                </div>
            </div>
            
        </main>

<%- include("footer") -%>